@page
@model book_crud_application.Pages.BookList.IndexModel

<br>
<div class="container">
	<div class="row">
		<div class="col-9">
			<h1 class="text-info">Book List</h1>
		</div>
		<div class="col-3">
			<a asp-page="Create" class="btn btn-info form-control text-white">
				Create New Book
			</a>
		</div>
	</div>
	<div class="col-12 border p-3 mt-3">
		<form action="" method="POST">
			@if(Model.Books.Count() > 0)
			{
				<table class="table table-bordered table-dark">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Author</th>
							<th scope="col">ISBN</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var book in Model.Books)
						{
							<tr>
								<td>@Html.DisplayFor(m => book.Name)</td>
								<td>@Html.DisplayFor(m => book.Author)</td>
								<td>@Html.DisplayFor(m => book.ISBN)</td>
								<td>
									<button
										class="btn btn-danger btn-sm"
										asp-page-handler="Delete"
										asp-route-id="@book.Id"
										onclick="return confirmDelete()"
									>
										Delete
									</button>
									<a
										class="btn btn-success btn-sm"
										asp-page="Edit"
										asp-route-id="@book.Id"
									>
										Edit
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			} else {
				<p>No books Available</p>
			}
		</form>
	</div>
	<div class="col-12 text-center">
		<br>
		<h3 class="text-info">OR</h3>
		<br>
	</div>
	<div class="col-12 border p-3 mt-3">
		<table id="DT_load" class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
					<th scope="col">ISBN</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/bookList.js"></script>
}
